//---------------------------------------------------------------------------
//
// Name:        PacManApp.rc
// Author:      Carlos, Alvaro e Ivan
// Created:     09/05/2020 16:54:12
// Description: 
//
//---------------------------------------------------------------------------

#ifdef _WIN64
#define WX_CPU_AMD64
#endif

#include <wx/msw/wx.rc>
